@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CoveredByYourGrace';
  src: url('./assets/fonts/CoveredByYourGrace-Regular.woff2') format('ttf'),
       url('./assets/fonts/PPNeueMontreal-Bold.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AnotherFont';
  src: url('./assets/fonts/PPNeueMontreal-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  padding-bottom: 70px; /* Space for bottom navigation */
}
